<h1><%= recipe.name %></h1>
<div class="recipe">
  <div class="recipe-header row">
    <div class="recipe-header-author col-md-6">
      <span class="recipe-header-span"><%= t('.author') %>:</span> <%= recipe.author.first_name %> <%= recipe.author.last_name %>
    </div>

    <div class="recipe-header-cookTime col-md-6">
      <span class="recipe-header-span"><%= t('.cook_time') %>:</span> <%= recipe.cook_time %> <%= t('.minutes') %>
    </div>
  </div>

  <div class="recipe-content row">
    <div class="recipe-content-subtitle"><%= t('.ingredients') %></div>
    <div class="recipe-content-ingredients col-md-12">
      <%= recipe.ingredients %>
    </div>

    <div class="recipe-content-subtitle"><%= t('.description') %></div>
    <div class="recipe-content-instructions col-md-12">
      <%= recipe.instructions %>
    </div>
  </div>
</div>
